body {
    margin: 20px;
}

h1 {
    text-align: center;
}

/* format features section */
.feature {
    display: flex;
    flex-direction: row;
}

/* format awesome font icons */
.fa-solid {
    color: darkorange;
    font-size: 5vw;
    margin-top: 0;
    margin-bottom: 5vh;
}

.feature {
    margin-top: 3vh 0 4vh 0;
    display: grid;
    grid-template-columns: 1fr 9fr;
}

#features h2,
#features p {
    margin: 0;
}

/* format navigation bar */
#nav-bar {
    /* Position navigation bar fixed at the top */
    position: fixed;
    float: right;
    top: 0;
    right: 0;
    display: flex;
    gap: 10%;
    white-space: nowrap;
    background-color: rgba(255, 140, 0, 0.7);
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 2px;
}

/* format form */
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    padding: 0.3rem;
    margin: 1rem;
    width: 15rem;
    border: 1px solid gray;
}

/* format submit button */
#submit {
    margin: 0 1rem 5rem 0;
}

/* unified formatting for buttons*/
button,
#submit {
    background-color: darkorange;
    color: white;
    padding: 0.3rem;
    border: none;
    width: 200px;
}

/* format logo */
#header-img {
    padding: 20px;
    width: 300px;
}

/* position the video */
#how-it-works {
    text-align: center;
    padding: 1rem;
}

/* Format pricing section */
/* Arrange items in a grid horizontally */
#pricing {
    display: grid;
}

article {
    text-align: center;
    border: 1px solid black;
    margin: 1rem;
    padding-bottom: 1rem;
}

article h2 {
    font-size: 18px;
    margin: 0;
    padding: 1rem;
}

/* format footer */
#footer {
    text-align: center;
}

article h2,
#footer {
    background-color: lightgray;
    padding-bottom: 10px;
    line-height: 0.5rem;
}

#footer ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    justify-content: right;
    padding-right: 10px;
}

#footer a {
    text-decoration: none;
    color: black;
}

#footer a:hover {
    font-weight: bold;
    color: white;
    background-color: darkorange;
}

#footer li {
    flex-direction: column;
    margin-top: 0.5rem;
}

#footer p {
    text-align: right;
    padding-right: 10px;
}

/* For mobile devices */
@media only screen and (max-width: 600px) {

    /* Arrange items in a grid vertically */
    #pricing {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    #nav-bar {
        width: 130px;
        flex-direction: column;
        background-color: orange;
        opacity: 80%;
    }

    #nav-bar a {
        color: black;
    }

    #header-img {
        width: 40vw;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
    }

    .feature {
        padding-top: 2vh;
    }
    /* To make the video smaller, to avoid horizontal scrolling in small mobile phones*/
    iframe {
        width: 80vw;
    }

    #submit {
        margin-bottom: 1vh;
    }
}

/* For large screens */
@media only screen and (min-width: 600px) {

    /* Arrange items in a grid horizontally */
    #pricing {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    #nav-bar {
        width: 300px;
    }

    #features {
        margin-left: 20vw;
    }
}